name: Continuous Integration

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 blue
          # Se tiver requirements.txt ou usar poetry:
          # pip install -r requirements.txt

      - name: Run Lint (Flake8)
        run: flake8 .

      - name: Run Lint (Blue Check)
        run: blue . --check